* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "gilroy", sans-serif;
    font-size: 10px;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(230, 178, 150);
}

#panel {
    overflow: hidden;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    background-color: #fff;
}

#ptop {
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:100%;
    height: 100px;
    background-color: greenyellow;
}

.elem {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elem .box {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    color: black;
    font-weight: 700;
    font-size: 20px;
}
.elem h3 {
    font-size: 20px;
}

#pbtm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
    width: 100%;
    height: calc(100% - 100px);
    padding: 20px;
    font-size: 20px;
}
#pbtm #btn {
    font-size: 20px;
    width: 80px;
    padding: 10px;
    font-weight: 700;
    background-color: greenyellow;
    border: none;
    border-radius: 10px;
}
#pbtm #scr{
    font-size: 25px;
    color: greenyellow;
    font-weight: 700;
}
#pbtm h1 {
    font-size: 20px;
}
#pbtm button {
    display: block;
}
.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: greenyellow;
    color: #000;
    font-weight: 700;
    font-size: 20px;
}
.bubble:hover {
    background-color: green;
}

/* responsiveness */

@media only screen and (max-width: 600px) {
    #main {
      background-color: #FF7A7A;
    }
    .elem {
        gap: 10px;
    }
    .elem h3 {
        font-size: 15px;
    }
    .elem .box {
        font-size: 15px;
    }
    .bubble {
        font-size: 15px;
        background-color: #FF7A7A;
    }
    #ptop {
        background-color: #FF7A7A;
    }
    #pbtm {
        padding: 10px;
        gap: 8px;
    }
    #pbtm #btn {
        font-size: 15px;
        width: 60px;
        padding: 10px;
        background-color: #FF7A7A;
        border: none;
        border-radius: 8px;
    }
    #pbtm #scr {
        font-size: 20px;
        color: #FF7A7A;
    }
    #pbtm h1 {
        font-size: 15px;
    }
    #panel {
        height: 100%;
        width: 100%;
    }
  }